<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Coffereview</title>
    <meta name="author" content="항해99 3기">
    <meta name="description" content="Check a review,Find fit your personal coffee">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=yes" name="viewport">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- http://ogp.me/ -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="coffeereview">
    <meta property="og:title" content="Check a review,Find fit your personal coffee">
    <meta property="og:description" content="Portfolio / projects.">
    <meta property="og:image" content="static/coffeereview">
    <meta property="og:url" content="http://timco.dothome.co.kr/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="favicon.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="../static/index.css">

    <script src="../static/jquery-1.12.3.js"></script>
    <script src="../static/index.js"></script>

    <!--HEADER-->
    <div class="wrapper">
        <div class="body__container">
            <header class="section">
                <div class="menu-group">
                    <div class="inner">
                        <div class="Coffeereview">
                            <a href="./index.html" style="cursor:auto">
                                <img src="../static/coffeereview1.png"
                                     alt="coffeereview"></a>
                        </div>
                        <div class="logo">
                            <a href="./starbucks1.html" style="cursor:auto">
                                <img src="../static/starbucks2.png" style="margin: 0px 30px 0px 0px;" alt="starbucks"></a>
                            <a href="paulbassett1.html" style="cursor:auto">
                                <img src="../static/paulbassett2.png" style="margin: 0px 30px 0px 0px;"
                                     alt="paulbassett"></a>
                            <a href="./pascucci1.html" style="cursor:auto">
                                <img src="../static/pascucci1.png" alt="pascucci"></a>

                            <div class="login">
                                <a href="./login.html" style="color: white">Login</a>
                                <div class="search">
                                    <input type="search" placeholder="" aria-label="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </header>
        </head>

        <!--VISUAL-->
<body>
<section class="main-container">
    <section class="list-box">
        <h2 class="list-title" id="hotmenu" style="color: black">인기메뉴</h2>
        <div class="list-btn">
            <div class="left-btn" id="hotmenu-left"><img src="../static/left.png" alt="좌측버튼"/></div>
            <div class="right-btn" id="hotmenu-right"><img src="../static/right.png" alt="우측버튼"/></div>
        </div>
        <div class="list-over">
            <div class="list-grid" id="hotmenu-grid">
                <a href="./detail.html"><img
                        src="https://www.baristapaulbassett.co.kr/upload/product/A/thumbnail_1_201905071251332911.png"
                        alt="coffeeimage">
                    <div class="text-comment" style="color: black">바닐라라떼</div>
                </a>
                <a href="./detail.html"><img
                        src="https://www.baristapaulbassett.co.kr/upload/product/A/thumbnail_1_201903211036218861.jpg"
                        alt="coffeeimage">
                    <div class="text-comment" style="color: black">아이스롱고</div>
                </a>
                <a href="./detail.html"><img
                        src="https://www.baristapaulbassett.co.kr/upload/product/A/thumbnail_1_201903211031182001.jpg"
                        alt="coffeeimage">
                    <div class="text-comment" style="color: black">롱고</div>
                </a>
                <a href="./detail.html"><img
                        src="https://www.baristapaulbassett.co.kr/upload/product/A/thumbnail_1_201903211036218861.jpg"
                        alt="coffeeimage">
                    <div class="text-comment" style="color: black">아이스 카페라떼</div>
                </a>
                <a href="./detail.html"><img
                        src="https://www.baristapaulbassett.co.kr/upload/product/A/thumbnail_1_202007211148507841.jpg"
                        alt="">
                    <div class="text-comment" style="color: black">스페니쉬 콜드브루</div>
                </a>
            </div>
        </div>
    </section>
    <section class="list-box">
        <h2 class="list-title" id="hotmenu" style="color: black">추천메뉴</h2>
        <div class="list-btn">
            <div class="left-btn" id="recommend-left"><img src="../static/left.png" alt="좌측버튼"/></div>
            <div class="right-btn" id="recommend-right"><img src="../static/right.png" alt="우측버튼"/></div>
        </div>
        <div class="list-over">
            <div class="list-grid" id="recommend-grid">

              <a href="./detail.html"><img
                        src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/08/[9200000003632]_20210830124145787.jpg"
                        alt="coffeeimage"><div class="text-comment" style="color: black">글레이 프라푸치노</div></a>
                <a href="./detail.html"><img
                        src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[107025]_20210419104756955.jpg"
                        alt="coffeeimage"><div class="text-comment" style="color: black">레모네이드 피지오</div></a>
                <a href="./detail.html"><img
                        src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[107051]_20210419112151972.jpg"
                        alt="coffeeimage"><div class="text-comment" style="color: black">쿨라임 피지오</div></a>
                <a href="./detail.html"><img
                        src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[107031]_20210419125349904.jpg"
                        alt="coffeeimage"><div class="text-comment" style="color: black">패션탱고 피지오</div></a>
            </div>
        </div>
        <h2 class="list-title" id="hotmenu" style="color: black">추천메뉴</h2>
        <div class="list-btn">
            <div class="left-btn" id="recommend1-left"><img src="../static/left.png" alt="좌측버튼"/></div>
            <div class="right-btn" id="recommend1-right"><img src="../static/right.png" alt="우측버튼"/></div>
        </div>
        <div class="list-over">
            <div class="list-grid" id="recommend1-grid">

                <a href="./detail.html"><img
                        src="https://www.caffe-pascucci.co.kr/upload/product/%ED%95%B4%ED%94%BC%ED%9E%88%EB%B9%84_141549.jpg"
                        alt="coffeeimage"><div class="text-comment" style="color: black">히비스커스 아이스티</div></a>
                <a href="./detail.html"><img
                        src="https://www.caffe-pascucci.co.kr/upload/product/%EC%9C%A0%EC%9E%90%EC%BD%A4%EB%B6%80%EC%B0%A8_11103.jpg"
                        alt="coffeeimage"><div class="text-comment" style="color: black">유자 콤부차</div></a>
                <a href="./detail.html"><img
                        src="https://www.caffe-pascucci.co.kr/upload/product/%EC%B2%AD%EB%B3%B4%EB%8F%84%EC%BD%A4%EB%B6%80%EC%B0%A8_11913.jpg"
                        alt="coffeeimage"><div class="text-comment" style="color: black">청포도 콤부차</div></a>
                <a href="./detail.html"><img
                        src="https://www.caffe-pascucci.co.kr/upload/product/%EC%95%A0%ED%94%8C%EB%A7%9D%EC%BD%94%EB%A6%AC%ED%94%84%EB%A0%88%EC%85%94_91633.jpg"
                        alt="coffeeimage"><div class="text-comment" style="color: black">애플 리프레셔</div></a>
            </div>
        </div>
    </section>
</body>
</html>